.page {
  padding: 0rem 3rem;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--bg-primary);

  @media (max-width: 768px) {
    padding: 1.5rem;
  }
}

body[data-theme="dark"] .page {
  background-color: #141625;
}
